<meta name="google-site-verification" content="BH4dv4Ml-XWYGvVLP0WXz44VmpGZ2zyE4x4id8lYlpQ" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QWL0JNMRP1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QWL0JNMRP1');
</script>
<meta name="yandex-verification" content="e02fd77fd1b15fd4" />
<script async src="https://us.umami.is/script.js" data-website-id="143ae41e-5ed8-4a8d-bb7a-976fc96dbfed"></script>
